*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.logo {
  height: 75px;
  margin: 40px 0 0 200px;
  width: 75px;
}

.logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu {
  margin: 60px 200px 0 0;
}

.menu li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

.menu li a {
  color: white;
}

.splash {
  position: relative;
  background-image: url("https://i.ibb.co/7G6rH5s/pexels-xenia-shtreter-5829764-1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Redressed", cursive;
  color: white;
}

.splash-inner h2 {
  font-size: 70px;
  margin-bottom: 50px;
}

.splash-inner .btn-head {
  position: relative;
  background: #ffc107;
  padding: 10px 20px;
  width: 200px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.splash-inner .btn-head:hover {
  background: #ffeb3b;
  cursor: pointer;
}

.splash-inner .btn-head a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.services {
  padding: 100px 0;
}

.services h2 {
  font-size: 40px;
}

.services p {
  color: #607d8b;
  margin-bottom: 60px;
}

.services .icon {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  border: 3px #ffc107 solid;
  border-radius: 50%;
}

.services .icon i {
  font-size: 40px;
  color: #ffc107;
}

.portfolio {
  background-color: #e0e0e0;
  padding: 100px 0;
}

.portfolio > h2 {
  font-size: 40px;
}

.portfolio > p {
  color: #607d8b;
  margin-bottom: 60px;
}

.portfolio .container {
  margin: 0 auto;
}

.portfolio .row {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .p-feature {
  background-color: white;
  -ms-flex: 0 0 30%;
      flex: 0 0 30%;
  margin-bottom: 20px;
  padding: 0;
}

.portfolio .p-feature p {
  margin-top: -5px;
  color: #607d8b;
  font-size: 10px;
  font-family: cursive;
}

.portfolio .p-feature h3 {
  padding: 20px 0 0 0;
}

.portfolio img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  position: relative;
  padding: 30px;
}

footer .rights {
  position: absolute;
  text-align: left;
  margin-left: 100px;
}

footer .rights p {
  margin-top: 10px;
}

footer .social-media {
  width: 100%;
}

footer .social-media ul {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .social-media ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-right: 10px;
  list-style: none;
  height: 40px;
  width: 40px;
  background: #424242;
  border-radius: 50%;
}

footer .social-media ul li a {
  color: white;
}

@media (max-width: 450px) {
  .logo {
    margin: 5px 0 0 10px;
  }
  .menu {
    margin: 20px 0px 0 10px;
    width: 300px;
  }
  .splash {
    height: 100vh;
  }
  .portfolio .p-feature {
    md-flex: 0 0 50%;
    -ms-flex: 50%;
        flex: 50%;
  }
  footer .rights {
    position: static;
    text-align: center;
    margin-left: 0;
  }
}

@media (min-width: 451px) and (max-width: 534px) {
  .logo {
    margin: 30px 0 0 50px;
  }
  .menu {
    margin: 50px 50px 0 0;
    width: 300px;
  }
  .splash-inner {
    margin-top: 20px;
  }
  .services .icon {
    margin-bottom: 40px;
  }
  .portfolio .p-feature {
    md-flex: 0 0 50%;
    -ms-flex: 50%;
        flex: 50%;
  }
  footer .rights {
    position: static;
    text-align: center;
    margin-left: 0;
  }
}

@media (min-width: 535px) and (max-width: 767px) {
  .logo {
    margin: 30px 0 0 50px;
  }
  .menu {
    margin: 50px 50px 0 0;
    width: 400px;
  }
  .splash-inner {
    margin-top: 20px;
  }
  .services .icon {
    margin-bottom: 40px;
  }
  .portfolio .p-feature {
    md-flex: 0 0 50%;
    -ms-flex: 50%;
        flex: 50%;
  }
  footer .rights {
    position: static;
    text-align: center;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin: 25px 0 0 150px;
  }
  .menu {
    margin: 60px 150px 0 0;
  }
  footer .rights {
    position: static;
    text-align: center;
    margin-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  footer .rights {
    margin-left: 100px;
  }
  footer .social-media ul {
    margin-left: 400px;
  }
}
/*# sourceMappingURL=style.css.map */